/*Подключение шрифтов*/
@font-face {
	font-family: "Gilroy-regular";
	src: url("../fonts/Gilroy/gilroy-regular.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Gilroy/gilroy-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/Gilroy/gilroy-regular.svg") format("svg"), /* Legacy iOS */
		url("../fonts/Gilroy/gilroy-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/Gilroy/gilroy-regular.woff") format("woff"), /* Modern Browsers */
		url("../fonts/Gilroy/gilroy-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy-bold";
	src: url("../fonts/Gilroy-bold/gilroy-bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/Gilroy-bold/gilroy-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/Gilroy-bold/gilroy-bold.svg") format("svg"), /* Legacy iOS */
		url("../fonts/Gilroy-bold/gilroy-bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/Gilroy-bold/gilroy-bold.woff") format("woff"), /* Modern Browsers */
		url("../fonts/Gilroy-bold/gilroy-bold.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Lato Black";
	src: url("../fonts/lato-black/lato-black.eot"); /* IE9 Compat Modes */
	src: url("../fonts/lato-black/lato-black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/lato-black/lato-black.otf") format("opentype"), /* Open Type Font */
		url("../fonts/lato-black/lato-black.svg") format("svg"), /* Legacy iOS */
		url("../fonts/lato-black/lato-black.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/lato-black/lato-black.woff") format("woff"), /* Modern Browsers */
		url("../fonts/lato-black/lato-black.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
/* фон шапки */
.size{
	width: 100%;
	height: 858px;
	overflow: hidden; 
}
.fonh{
background-position: center center;
background-image: url('../img/jpg/фон шапки.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.mar{
margin-top: 26px;
}
.mar1{
margin-top: 26px;
}
h1,h2,h3,h4,h5,h6,p{
	margin-bottom: 0px;
}
h6.program{
	font-family: Gilroy-regular;
	font-size: 18px;
	color:#060606;
	line-height: 26px;
}
h6{ font-family: Gilroy-regular;
	font-size: 18px;
	color: white;
	line-height: 26px;
}
h6.program1{
margin-top: 48px;
margin-bottom: 50px;
font-size: 18px;
line-height: 22px;
color: #292841;
}
h5{ font-family: Gilroy-regular;
	font-size: 18px;
	color: black;
	line-height: 21px;
}
h5.program1{
margin-top: 22px;
color:#FFFFFF;
}
h5.program{
font-family: Gilroy-bold;
}
h3.program2{
margin-top: 31px;
font-family: Gilroy-bold;
color:#FAD264;
font-size: 20px;
line-height: 27px;
text-transform: uppercase;
}
h3{
font-family: Gilroy-bold;
color: white;
font-size: 20px;
line-height: 24px;
}
.blockb h3{
font-size: 23px;
}
h3.program{
font-family: lato Black;
color:#42196D;
font-size: 22px;
line-height: 24px;
}
h4{
font-family: Gilroy-regular;
color: #FFFFFF;
font-size: 16px;
line-height: 19px;
}
h4.program{
font-family: Gilroy-bold;
color: #F4F9FF;
font-size: 16px;
line-height: 19px;
text-transform: uppercase;
margin-top: 59px;
}
h4.program1{
font-family: Gilroy-regular;
color: #F4F9FF;
font-size: 16px;
line-height: 19px;
margin-top: 5px;
}
h1.program2{
	color:#320B61;
	font-size: 36px;
	line-height: 28px;
	margin-top: 80px;
}
h1.program{
	color:#320B61;
	font-size: 36px;
	line-height: 44px;
	margin-top: 65px;
}
h1.program3{
font-size: 36px;
font-family: Gilroy-regular;
color:#000000CC;
line-height: 42px;
text-transform: none;
}
h1.program1{
	color:#FAD264;
	font-size: 36px;
	line-height: 44px;
	margin-top: 82px;
}
h1{ 
	color: white;
	font-size: 50px;
	font-family: Gilroy-bold;
	text-transform: uppercase;
	line-height: 65px;
}
.color{
	color: #fce558;
}
.log{
	float: right;
	width: 77px;
    size: cover;
}
.lin{
width: 70px;
height: 0px;
margin: 24px auto 26px auto;
border: 2px solid #FAD264;
}
.lin2{
margin: 39px auto 63px auto;
width: 70px;
height: 0px;
border: 2px solid #FFFFFF;
}
h2.program{
	font-size: 24px;
	font-weight: 29px;
	font-family: Gilroy-bold;
	color: #000000CC;
	text-transform: uppercase;
}
h2.program1{
	color:#FAD264;
	font-size: 24px;
	font-weight: 29px;
	font-family: Gilroy-bold;
	text-transform: uppercase;
}
h2{
	font-size: 24px;
	font-family: Gilroy-regular;
	color: white;
}
h2.program2{
	font-size: 24px;
	font-family: Gilroy-regular;
	color:#000000CC;
	font-weight: 28px;
}
p.program{
font-family: Gilroy-regular;
font-size: 14px;
line-height: 17px;
color: #F4F9FF;
margin-top:60px;
}
p{
font-family: Gilroy-regular;
font-size: 14px;
line-height: 24px;
color: #FFFFFF;
}
.block h5{
	padding: 10px;
	position: absolute;
	margin-left: -20px;
}
.block{
position: relative;
display: inline-block;
margin: 15px;
padding: 5px 22px;
width: 285px;
height: 125px;
background: linear-gradient(0deg, #d1d1d1, #d5d5d5);
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.blockj{
position: relative;
padding-top: 26px;
}
.block::after{
  content: "";
  /* В любом случае необходим, даже пустой. Иначе не будет работать */
  
  position: absolute;
  top: -22px;
  left: 50%;
  margin: 0 0 0 -22px;
  width: 44px;
  height: 44px;
  background-image: url('../img/png/Ellipse.png');

  background-size: 44px 44px;
}
.blockc{
padding-left:3px; 
padding-right:3px;
position: relative;
padding-top: 33px;
background: #FFFFFF;
border-radius: 0 0 40px 40px ;
}
.blockc::after{
	content: "";
  /* В любом случае необходим, даже пустой. Иначе не будет работать */

  position: absolute;
  top: 100%;
  left: 50%;
  margin: -12px 0 0 -22.5px;
  width: 45px;
  height: 30px;
  background-image: url('../img/png/Polygon 1.png');

  background-size: 45px 30px;
}
.blocknot{
	float: right;
}
/*button*/
.e-mail{
font-family: Gilroy-regular;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
border-radius: 30px;
cursor: pointer;
border: 0px ;
text-decoration: none;
background: #FFFFFF;
padding: 20px 43.5px;
}
.singup{

font-family: Gilroy-regular;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
cursor: pointer;
border: 0px ;
text-decoration: none;
padding: 20px 78px;
}
.practic{
font-family: Gilroy-regular;
font-size: 18px;
line-height: 21px;
align-items: center;
cursor: pointer;
border: 0px ;
text-decoration: none;
padding: 20px 97px;
left: 50%;
margin: 25px 0 120px 0;
background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
/*-------------*/
.mous{
top:-50%;
position: relative;
left: 50%;
margin-left:-25px;
}
.lin1{
margin: 0 auto;
width: 70px;
height: 0px;
border: 2px solid #E130E3;
margin-top:39px;
}
.blocke{
	background-color: #FAD264;
    padding-top: 24px;
    padding-bottom: 17px;
}
.blockb{
	background-color:#320B61;
    padding-top: 32px;
    padding-bottom: 32px;
}
.blockd{
background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.gray{
	background-color: #C4C4C4;
	padding: 25px 50px;
	margin-bottom:63px;
}
.purple{
	background-color: #42196D;
	padding: 25px 50px;
	margin-bottom:63px;
}
.spisoc3{
	list-style-image: url('../img/png/Polygon2.png');
	padding-left:15px;
}
.spisoc3 li {
	margin-bottom: 13px;
}
.spisoc1{
	list-style-image: url('../img/png/round.png');
	padding-left:45px;
}
.spisoc1 li {
	margin-bottom: 10px;
}
.spisoc2{
	list-style-image: url('../img/png/round.png');
	padding-left:30px;
}
.spisoc2 li {
	margin-bottom: 16px;
}
.spisoc4{
	list-style-image: url('../img/png/round.png');
	padding-left:44px;
}
.spisoc4 li {
	margin-bottom: 16px;
}

.solid{
border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 15px;
}
.name{
margin-top: 45px;
z-index: 5;
color:#000000;
text-transform: uppercase;
font-family: Gilroy-regular;
font-size: 20px;
line-height: 20px;
border-radius: 30px;
font-family: Gilroy-regular;
align-items: center;
border-radius: 30px;
border: 0px ;
background: #FFFFFF;
padding: 21.5px 36.5px;
}
.psw{
text-align: center;
margin-top: 20px;
z-index: 5;
color:#000000;
text-transform: uppercase;
font-family: Gilroy-regular;
font-size: 20px;
line-height: 20px;
border-radius: 30px;
font-family: Gilroy-regular;
align-items: center;
border-radius: 30px;
border: 0px ;
background: #FFFFFF;
padding: 21.5px 36.5px;
}
.vid720{
	padding-left:0px;
}
.form_button{
margin-top: 30px;
padding: 23px 83.66px;
background: #F7C847;
box-shadow: 0px 10px 40px rgba(255, 223, 135, 0.5);
border-radius: 30px;
font-family: Gilroy-regular;
font-size: 20px;
line-height: 20px;
border:0; 
align-items: center;
text-transform: uppercase;
}
textarea:focus, input:focus{
outline: none;
}
input::-webkit-input-placeholder 
{ 
	color: #000000; 
}
input::-moz-placeholder 
{
 color: #000000; 
}
.fonh1
{
background-position: center center;
background-image: url('../img/jpg/фон шапки1.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.vertical{
float: right;
width: 0px;
height: 148px;
border: 1px solid #F6F6F6;
margin-right:0;
}
.back2{
background: linear-gradient(0deg, #320C5A, #320C5A);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media  (max-width: 1024px)
{
.log{
margin-right: -38.5px;


}
.mar{
margin-top: 34px;
right: 50%;
margin-right: -26px;
}

.mar1{
	margin-top: 19px;
}
h1{
	font-size: 36px;
	font-weight: 42px;
}
.block{
	margin-top: 57px;
	padding: 15px;
    padding-bottom: 30px;
    padding-top: 30px;

}
.blockr h5{
	top: 50%;
	margin-top: 10px;
}
@media( max-width: 780px)
{
	.e-mail{
   margin-bottom: 26px;
    }
.log{
margin-right: -26px;
width: 52px;

}
.container{
padding: 0px;
}
.blocknot{
margin-right: -26px;
}
.block{
position: relative;
display: inline-block;
margin: 29px 15px;
padding: 5px 30px;
width: 269px;
height: 145px;
background: linear-gradient(0deg, #d1d1d1, #d5d5d5);
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.block h5{
	padding-top: 22px;
}
.blockj{
	padding-bottom: 12px; 
}
.vid720{
	text-align: left;
	padding-left: 15px;
}
.vid{
margin-top: 28px;
}
.pad{
    padding-left: 10px;
	}
}
@media(max-width: 600px){
	h6{
		font-size: 14px;
		line-height: 16px;
	}
	h1{
		font-size: 30px;
		line-height: 36px;
	}
	.block{
    width: 320px;
    height: 118px;
    }
    .vid{
     margin-top: 0px;
    }
    h3{
    	text-align: left;
    	padding-left: 10px;
    }
    .e-mail{
   margin-bottom: 26px;
    }
   .singup
   {

   }
   .pad{
    padding-left: 
	}
}
@media(max-width: 558px)
{
	.pad{
    padding-left: 10px;
	}
	 .e-mail{
	 	position: relative;
    margin-right: -127px;
    right:  50%;

    }
   .singup
   {position: relative;
    margin-left: -127px;
    left: 50%;
   }
   .blocknot{
   	position: absolute;
   	float: left;
   	padding-left:16%;
    margin-top: 6px;
   }
   h3{
   	font-size: 18px;
   	line-height: 21px;
   }
   .pad{
   	width: 70%;
   	display: inline-block;
   	float: right;
   	margin-right: 20px;
   }
   .form{
   	position: absolute;
   	float: left;
    left: 72px;
   }
   h4{
   	margin-left: 30%;
   	font-size: 14px;
   	line-height: 16px;
   }
   h6{
   	padding: 10px;
   }

}